fastapi
uvicorn[standard]
python-multipart
langchain
langchain-community
langchain-groq
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers
pypdf
pymupdf
pytesseract
pdf2image
pillow
sqlalchemy
python-dotenv
streamlit
pandas
requests