fastapi
uvicorn[standard]
python-multipart
langchain
langchain-groq
langchain-chroma
langchain-mistralai
langchain-text-splitters
chromadb
pymupdf
pytesseract
pillow
python-dotenv
streamlit
requests
langgraph